<!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/registraion" routerLinkActive="active">Registration</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </nav>-->


  <!--<div class="container-fluid">-->
    <header id="top" style="background-color:black">
      <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="#main" style="color:white;font-size: 14px;"> <b>Skip to main content</b></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white " id="small">-A</a>
          </li>
          <li class="nav-item">
              <a href="#" id="medium" class="selected nav-link text-white">A</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link text-white" id="large">A+</a>
          </li>
      </ul>
    </header>
    <div class="row" style="color: black;">
      <div class="col-md-3 text-center">
        <img [src]="imageemblem" [alt]="altText" />
      </div>
      <div class="col-md-6">
          <h2 class="text-center"> National Generic Document Registration System</h2>  
          <h3 class="text-center">Department of Land Resources - Government of India </h3>
      </div>
    </div>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div >NGDRS</div>    
      <div>
          <!--<span><a routerLink="/home" routerLinkActive="active">Home</a></span> -->
          <span><a routerLink="/welcomepage" routerLinkActive="active">Home</a></span>
          <span><a routerLink="/about" routerLinkActive="active">About</a></span>    
          <span><a routerLink="/contact" routerLinkActive="active">Contact</a></span>    
          <span><a routerLink="/registraion" routerLinkActive="active">Registration</a></span>
          <span><a routerLink="/submitgrievance" routerLinkActive="active">Submit Grievance</a></span>  
          <span><a routerLink="/trackgrievance" routerLinkActive="active">Track Grievance</a></span>      
      </div>
      <div>
        <span><a routerLink="/login" routerLinkActive="active" *ngIf="!auth.isAuthenticated();">Login</a></span>
        <button class="btn btn-danger" (click)="onLogout()" *ngIf="auth.isAuthenticated();">Logout</button>
      </div>
  </nav>
<!--</div>-->