<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on networks:</span>
        <span></span><span></span><span></span>
        <a href="" class="me-4 text-reset">
            <!--<i class="fab fa-facebook-f"></i>-->
            <img [src]="imageUrl1" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
            <!--<i class="fab fa-facebook-f"></i>-->
            <img [src]="imageUrl2" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
            <!--<i class="fab fa-facebook-f"></i>-->
            <img [src]="imageUrl3" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
            <!--<i class="fab fa-facebook-f"></i>-->
            <img [src]="imageUrl4" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
            <!--<i class="fab fa-facebook-f"></i>-->
            <img [src]="imageUrl5" [alt]="altText" />
        </a>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <!--<a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
          <img [src]="imageUrl" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
          <img [src]="imageUrl" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
          <img [src]="imageUrl" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
          <img [src]="imageUrl" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
          <img [src]="imageUrl" [alt]="altText" />
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>-->
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <!--<h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>-->
            <p>
              <a href="#!" class="text-reset">FeedBack</a>
            </p>
            <p>
              <a href="#!" class="text-reset">NIC Holiday list</a>
            </p>
            <!--<p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>-->
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <!--<h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>-->
            <p>
              <a href="#!" class="text-reset">User Manual</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help (Manuals)</a>
            </p>
            <!--<p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>-->
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <!--<h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>-->
            <p>
              <a href="#!" class="text-reset">NGDRS Downloads</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Training Videos</a>
            </p>
           <p>
              <a href="#!" class="text-reset">Privacy Policy</a>
            </p>
            <!-- <p>
              <a href="#!" class="text-reset">Help</a>
            </p>-->
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> OFFICE OF THE SUB REGISTRAR, U.T. CHANDIGARH</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              subregistrarutchd[at]gmail.com
            </p>
            <!--<p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>-->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Site designed and developed by National Informatics Centre
Contents provided and maintained by OFFICE OF THE SUB REGISTRAR, U.T. CHANDIGARH
      <!--<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->