<div class="row justify-content-md-center mt-5">
    <div class="col-8">
        <div class="card mx-auto" style="width: 80rem;">
            <div class="card-body">
                <h3 class="bi bi-person-vcard-fill"> Register</h3>
                <h5 class="card-title mb-4"></h5>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row gy-2 gx-3 align-items-center">
                        <div class="mb-3">
                            <div class="row">
                                <div class="col">
                                <label
                                    for="name"
                                    class="form-label">Authorized Person Name
                                </label>
                                </div>
                                <div class="col">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="firstname"
                                    formControlName="firstname"
                                    placeholder="First Name"
                                    ngModel required
                                />
                                <div *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched" class="error-message">
                                    <small *ngIf="form.get('firstname')?.errors?.['required']">First Name is required.</small>
                                    <small *ngIf="form.get('firstname')?.errors?.['minlength']">First Name must be at least 2 characters long.</small>
                                    <small *ngIf="form.get('firstname')?.errors?.['alphabetic']">First Name must contain only alphabetic characters.</small>
                                </div>
                                </div>
                                <div class="col">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="middlename"
                                    formControlName="middlename"
                                    placeholder="Middle Name"
                                    ngModel required
                                />
                                <div *ngIf="form.get('middlename')?.invalid && form.get('middlename')?.touched" class="error-message">
                                    <small *ngIf="form.get('middlename')?.errors?.['required']">Middle Name is required.</small>
                                    <small *ngIf="form.get('middlename')?.errors?.['minlength']">Middle Name must be at least 2 characters long.</small>
                                    <small *ngIf="form.get('middlename')?.errors?.['alphabetic']">Middle Name must contain only alphabetic characters.</small>
                                </div>
                                </div>
                                <div class="col">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="lastname"
                                    formControlName="lastname"
                                    placeholder="Last Name"
                                    ngModel required
                                />
                                <div *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched" class="error-message">
                                    <small *ngIf="form.get('lastname')?.errors?.['required']">Last Name is required.</small>
                                    <small *ngIf="form.get('lastname')?.errors?.['minlength']">Last Name must be at least 5 characters long.</small>
                                    <small *ngIf="form.get('lastname')?.errors?.['alphabetic']">Last Name must contain only alphabetic characters.</small>
                                </div>
                                </div>
                                <!--<div *ngIf="validationErrors?.name != undefined" class="flex flex-col">
                                    <small  class="text-danger">
                                        {{validationErrors.name[0]}}
                                    </small >
                                </div>-->
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        Contact Person Address
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label
                                                    for="building"
                                                    class="form-label">Building Name / No. / Floor <i class="bi bi-buildings"></i>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="building"
                                                    formControlName="building"
                                                    placeholder="Building Name"
                                                    ngModel required
                                                />
                                            </div>
                                            <div class="col">
                                                <label
                                                    for="street"
                                                    class="form-label">Street/Locality
                                                </label>
                                            </div>
                                            <div class="col">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="street"
                                                    formControlName="street"
                                                    placeholder="Street Name"
                                                    ngModel required
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label
                                                    for="city"
                                                    class="form-label">City
                                                </label>
                                            </div>
                                            <div class="col">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="city"
                                                    formControlName="city"
                                                    placeholder="City Name"
                                                    ngModel required
                                                />
                                            </div>
                                            <div class="col">
                                                <label
                                                    for="pincode"
                                                    class="form-label">Pin Code
                                                </label>
                                            </div>
                                            <div class="col">
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="pincode"
                                                    formControlName="pincode"
                                                    placeholder="Pin code"
                                                    ngModel required
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label
                                                    for="state"
                                                    class="form-label">State
                                                </label>
                                            </div>
                                            <div class="col">
                                                <select id="state" formControlName="state" class="form-control" [(ngModel)]="selectedState" (change)="onStateChange($event)">
                                                    <option value="" disabled selected>--Select State--</option>
                                                    <option *ngFor="let option of states" [value]="option.state_id">{{ option.state_name_en }}</option>
                                                  </select>
                                            </div>
                                            <div class="col">
                                                <label
                                                    for="districts"
                                                    class="form-label">District
                                                </label>
                                            </div>
                                            <div class="col">
                                                <select id="district" formControlName="district" class="form-control" [(ngModel)]="selectedDistrict" (change)="onDistrictChange($event)">
                                                    <option value="" disabled selected>--Select District--</option>
                                                    <option *ngFor="let option of districts" [value]="option.district_id">{{ option.district_name_en }}</option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label
                                                    for="taluka"
                                                    class="form-label">Taluka
                                                </label>
                                            </div>
                                            <div class="col">
                                                <select id="taluka" formControlName="taluka" class="form-control" [(ngModel)]="selectedtaluka" >
                                                    <option value="" disabled selected>--Select Taluka--</option>
                                                    <option *ngFor="let option of talukas" [value]="option.taluka_id">{{ option.taluka_name_en }}</option>
                                                </select>
                                            </div>
                                            <div class="col"></div>
                                            <div class="col"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        Contact Person ID Details
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label
                                                    for="email_id"
                                                    class="form-label">Email Id
                                                </label>
                                            </div>
                                            <div class="col">
                                                <input
                                                type="text"
                                                class="form-control"
                                                id="email_id"
                                                formControlName="email_id"
                                                placeholder="Email Id"
                                                ngModel required
                                            />
                                            </div>
                                            <div class="col">
                                                <label
                                                    for="mobile_no"
                                                    class="form-label">Mobile No.
                                                </label>
                                            </div>
                                            <div class="col">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="mobile_no"
                                                    formControlName="mobile_no"
                                                    placeholder="Mobile No."
                                                    ngModel required
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label
                                                    for="id_type"
                                                    class="form-label">Select Id Proof
                                                </label>
                                            </div>
                                            <div class="col">
                                                <select id="id_type" formControlName="id_type" class="form-control" [(ngModel)]="selectedValue" (change)="onSelectionChange($event)">
                                                    <option value="" disabled selected>--Select ID Proof--</option>
                                                    <option *ngFor="let option of idproofs" [value]="option.identificationtype_id">{{ option.identificationtype_desc_en }}</option>
                                                    <!--<option *ngFor="let option of idproofs" [value]="option.value">{{ option.label }}</option>-->
                                                  </select>
                                            </div>
                                            <div class="col">
                                                <label
                                                    for="pan_no"
                                                    class="form-label">Id Proof No.
                                                </label>
                                            </div>
                                            <div class="col">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="pan_no"
                                                    formControlName="pan_no"
                                                    placeholder="Id Proof No."
                                                    ngModel required
                                                />
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col">&nbsp;</div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Register</button>
                                </div>
                                <div class="col">
                                    <button
                                    type="button"
                                    (click)="onReset()"
                                    class="btn btn-warning float-right"
                                    >
                                    Reset
                                </button>
                                </div>
                                <div class="col">
                                    <button (click)="fetchUserCitizenData()" class="btn btn-primary">Load Data</button>
                                    &nbsp;
                                    <button (click)="openDialog()" mat-raised >View Citizen User Data</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table border="1" *ngIf="dispdata.length > 0">
                                        <thead>
                                          <tr>
                                            <th>user_id</th>
                                            <th>username</th>
                                            <th>office_id</th>
                                            <th>role_id</th>
                                            <th>full_name</th>
                                            <th>mobile_no</th>
                                            <th>email_id</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of dispdata">
                                            <td>{{ item.user_id }}</td>
                                            <td>{{ item.username }}</td>
                                            <td>{{ item.office_id }}</td>
                                            <td>{{ item.role_id }}</td>
                                            <td>{{ item.full_name }}</td>
                                            <td>{{ item.mobile_no }}</td>
                                            <td>{{ item.email_id }}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>